<launch>

	<arg name="model" default="$(find description)/macros/base.xacro"/>
	<arg name="joint_state_publisher" default="true" />
	<arg name="joints_gui" default="true" />
	<arg name="rviz" default="false" />

	<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
	<param name="use_gui" value="$(arg joints_gui)"/>

	<group if="$(arg joint_state_publisher)">
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	</group>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<group if="$(arg rviz)">
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find description)/rviz/description.rviz" required="true" />
	</group>

</launch>
